    
    <table class="table table-bordered">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              {% for employee in employees %}
                <tr>
                  <td>{{ employee.first_name }}</td>
                  <td>{{ employee.first_name }}</td>
                  <td>{{ employee.email }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
          
    
          
          {% if employees.has_other_pages %}
            <ul class="pagination">
              {% if employees.has_previous %}
                <li><a href="?page={{ employees.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in employees.paginator.page_range %}
                {% if employees.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if employees.has_next %}
                <li><a href="?page={{ employees.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %}